.icon-img{
  width: 100%;
}
.base-info{
  margin-bottom: 15px;
}
.base-info h1{
  margin-top: 0px;
}
.job-element h4{
  margin-bottom: 15px;
}
.job-img{
  width: 100%;
}
.devicons{
  font-size: 40px;
}
